<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Book Search</title>
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alegreya+Sans|Alegreya+Sans+SC|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
        <link rel="icon" type="png" href="images/book_favicon.png"/>
        <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="styles/base.css"/>
        <link rel="stylesheet" type="text/css" href="styles/icons.css"/>
        <link rel="stylesheet" type="text/css" href="styles/layout.css"/>
        <link rel="stylesheet" type="text/css" href="styles/modules.css"/>
    </head>
    <body>
        <%include ../../layout/header%>
        <main class="flex-column">
            <h4 class="banner">Search By Title or Author</h4>
            <form action="/searches" method="post" class="search-form-container">
                <input id="book-search" type="text" name="search" placeholder="Enter a title or author" required>
                <fieldset class="search-radio">
                    <label class="radio-label" for="author">
                        <span class="search-categories">Author</span>
                        <input class="radio-button" type="radio" name="search" value="author" required>
                    </label>
                    <label class="radio-label" for="title">
                        <span class="search-categories">Title</span>
                        <input class="radio-button" type="radio" name="search" value="title" required>
                    </label>
                </fieldset>
                <button type="submit">Search Books</button>
            </form>
        </main>
        <%include ../../layout/footer%>
    </body>
</html>