<!DOCTYPE html>
<html lang="en">
  <head>
    <title>It died jim</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/reset.css">
  </head>
  <body>
    <h1> It all went to shit!</h1>
    <p><% err %></p>
  </body>
</html>