<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection(is this it)?</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/reset.css">
  </head>
  <body>
    <%- include ../layout/header %>
    <main>
      <h1>See me roar</h1>
    </main>
  </body>
</html>