<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section class="create-view container">
        <h2 class="view-title">Add a New Task</h2>
        <form id="create-form" action="/add" method="post">
          <input type="text" name="name" placeholder="Task Name">
          <textarea name="description" placeholder="Description of the task" cols="30" rows="10"></textarea>
          <input type="text" name="category" placeholder="Category">
          <input type="text" name="contact" placeholder="Contact Person">
          <input type="text" name="status" placeholder="Completion Status">
          <button type="submit">Add This Task</button>
        </form>
      </section>
    </main>
  </body>
</html>
