<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%- include ../layout/nav.ejs %>

    <form action="/task" method="POST">
      <input type="text" name="title" value="title">
      <input type="text" name="description" value="description">
      <input type="text" name="contact" value="contact">
      <input type="text" name="status" value="status">
      <input type="text" name="category" value="category">
      <input type="submit">
    </form>
</body>
</html>