nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}

\
.date {
  float: left;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}

aside p {
  padding-left: 100px;
  width: 65%;
  margin: 0;
  text-indent: 0;

}

.print {
  text-decoration: none;
  padding-left: 30px;
  float: right;
}

.print img {
  margin-right: 3px;
}
