<header>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a class= "menu-options" href="/"><li class= "menu-options" >Bookshelf</li></a>
                <a class= "menu-options" href="/new"><li class= "menu-options" >Search</li></a>
                <!-- <a class= "menu-options" href="#"><li class= "menu-options" >Other</li></a> -->
            </ul>
        </div>
        <div id="navTitle">
            <h1>BooketList</h1>
            <h2>Bookmark your next great adventure</h2>
        </div>
    </nav>
</header>
